@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Limelight&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,400;1,600;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  overflow: auto;
  background-color: white;
}
nav ul li a:hover{
    color: black;
}

.banner_section{
    padding-top: 50px;
}

.about-container{
    height: 80vh;
}




footer {
    display: flex;
    background-color: black;
    color: white;
    height: 80px;
    justify-content: center;
    padding-top: 20px;
    box-sizing: border-box;
  }
  
  footer p{
    font-family: 'Lato', sans-serif;
  }


  /* ----------------------------- MEDIA QUERY --------------------------- */

  @media (max-width: 768px) {
    .about-container {
      height: auto;
      padding: 20px;
    }
  
    .about-section .img-banner img {
      max-width: 100%;
      height: auto;
    }
  
    .about-section .col-12.col-lg-6 {
      text-align: center;
      margin-bottom: 20px;
    }
  
    .about-section .col-12.col-lg-6 h2 {
      font-size: 1.5rem;
    }
  
    .about-section .col-12.col-md-4 {
      text-align: center;
    }
  }
  