@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Limelight&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,400;1,600;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  overflow: auto;
  background-color: white;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding: 20px 100px;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px grey;
}

nav .logo {
  font-family: Limelight;
  font-size: 32px;
  font-weight: bolder;
  line-height: normal;
}

nav ul {
  display: flex;
  list-style: none; /* menghilangkan bullet pada nav*/
  justify-content: flex-end; /* memberi jarak antar menu */
  width: 40%;
}

nav ul li {
  padding-right: 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

.active {
  font-weight: bolder;
  color: black;
}

.productdetail {
  display: flex;
  flex-direction: row;
  margin: 100px;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.leftsectionproduct img {
  display: flex;
  box-sizing: border-box;
  width: 400px;
  height: 400px;
  border-radius: 20px;

}

.rightsectionproduct {
  width: 50%;
  box-sizing: border-box;
}

.rightsectionproduct h3 {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.rightsectionproduct input {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.rightsectionproduct button {
  height: 40px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.rightsectionproduct h4 {
  padding: 20px 0;
  font-family: 'Poppins', sans-serif;
}
.rightsectionproduct p{
  line-height: 25px;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
}

footer {
  display: flex;
  background-color: black;
  color: white;
  height: 80px;
  justify-content: center;
  padding-top: 20px;
  box-sizing: border-box;
}